.inventory-holder {
    border: 2px solid black;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.inventory-icon {
    width: 30px;
    height: 30px;
}

.inventory-inner-window {
    
}